
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body>

<!-- Menu selon le rôle -->
<div th:replace="fragments/admin-header :: adminHeader" sec:authorize="hasRole('ROLE_USER')"></div>
<div th:replace="fragments/admin-header :: adminHeader" sec:authorize="hasRole('ROLE_ADMIN')"></div>



<div class="container mt-5 text-center">
    <!-- Message pour ADMIN -->
    <h2 sec:authorize="hasRole('ROLE_ADMIN')">Bienvenue, Admin sur votre tableau de bord</h2>

    <!-- Message et actions pour USER -->
    <div sec:authorize="hasRole('ROLE_USER')">
        <h2>Bienvenue, <span th:text="${user.firstName}">Utilisateur</span> sur ton tableau de bord</h2>
        <p class="mt-4 mb-4">
            Votre solde : <strong th:text="${user.balance}">0.00</strong> €</p>

        <div class="d-flex justify-content-center gap-3 mt-3">
            <a class="btn btn-success" href="/transactions/new">Effectuer un transfert</a>
            <a class="btn btn-primary" href="/deposits/add">Alimenter mon compte</a>
            <a class="btn btn-info" href="/friends/add">Ajouter des amis</a>
        </div>
    </div>
</div>

</body>
</html>
